body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(18, 48, 61);
  color: rgb(255, 255, 255);
}

.visual-novel {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}


.sprite-left,
.sprite-mid,
.sprite-right {
  position: absolute;
  z-index: 2;
  max-height: 50%;
  object-fit: contain;
  width: 30%; 
  height: auto; 
}

.sprite-left {
  bottom: 20%;
  left: 5%; 
}

.sprite-mid {
  bottom: 20%;
  left: 35%; 
}

.sprite-right {
  bottom: 20%;
  right: 5%; 
}


.visual-novel h3 {
  position: absolute;
  bottom: 3%; 
  left: 5%;
  right: 5%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid white;
  border-radius: 10px;
  z-index: 3;
  text-align: left;
  font-size: 48px;
}

.visual-novel button {
  position: absolute;
  bottom: 3%; 
  right: 5%; 
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #21bea4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.visual-novel button:hover {
  background-color: #096d70;
}